#background {
    height: 725px;
    background-color: #399439;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #fcfbfb; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    color: #d9c2a3;
    text-align: center;
    color: #d9c2a3;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center
}
.button-box {
    text-align: center
}
main section
 {
    text-align: center
}

.book, .join{
    color: #d9c2a3;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover{
      color: #d9c2a3;
}
.msg{
      color: #d9c2a3;
      line-height: 1.5em;
      padding: 35px;
}
footer{
      color: #d9c2a3;
      background-color: black;
      padding: 25px 50px;
}
nav a{
      color: #d9c2a3;
      text-decoration: none;
      text-align: center;
      padding: 35px;
}
.home-title{
      color: #d9c2a3;
      font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
      font-size: 2em;
      margin-top: 10px;
}
h4{
      color: #d9c2a3;
}

.msg h2{
      color: #d9c2a3;
}
.msg p{
      color: #d9c2a3;
      font-size: 8em;
      padding-bottom: 15px;
}
footer a{
      color: #d9c2a3;
      text-decoration: none;
      font-size: 1.2em;
}
footer a:hover{
      color: #d9c2a3;
      font-size: 1.2em;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    margin: 0 auto;
    width: 80%
}
footer p {
    font-size: 1.2em;
    padding-top: 15px;
} 
footer p a:hover {
    text-decoration: underline;
}   

.rivers-card, .camping-card, .rapids-card { 
    margin: 200px 0;
}